*.pyc                # Ignore compiled Python files
.DS_Store            # Ignore macOS folder metadata
env/                 # Ignore virtual environment directory, if you named it 'env'
.venv/               # Ignore virtual environment directory, if you named it '.venv'
__pycache__/         # Ignore Python compiled bytecode cache
heiterim/heiterim/
